$darkCellTransparent: #2729326c;
$greenBoarder: #0F7173;
$lightBackground: #E7ECEF;
$bombRed: #F05D5E;
$flagYelow: #D8A47F;

.innerWrapper{
    position: absolute;
    padding: 20px;
    background-color: $lightBackground;
    border: 4px solid $greenBoarder; 
}
.outerWrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $darkCellTransparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}