$bacgroundColor: rgba(167, 167, 167, 0.623);
$darkCell: #272932;
$greenBoarder: #0f7173;
$lightBackground: #e7ecef;
$bombRed: #f05d5e;
$flagYelow: #d8a47f;

.start {
    padding: 10px 25px;
    font-weight: bold;
    background-color: $greenBoarder;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid $lightBackground;
    color: $lightBackground;
    cursor: pointer;
}
.start:hover {
    background-color: $greenBoarder;
    opacity: 0.5;
    transition: 0.5s;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-color: $bacgroundColor;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.restarButton{
    color: $greenBoarder;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 0 20px;

    &:hover{
        transform: rotate(180deg);
        transition: 0.5s;
    }
}
.counterNumbers{
    margin: 0 10px;
    color: $darkCell;
    padding: 5px 10px;
    border: 2px solid $greenBoarder;
    min-width: 70px;
    text-align: center;
}
.submitButton{
    border: 2px solid $greenBoarder;
    background-color: $bacgroundColor;
    color: $greenBoarder;
    padding: 10px 15px;
    margin: 10px;
    
    &:hover{
        opacity: 0.7;
        transition: 0.5s;
    }
}