.squer{
    position: absolute;  
    width: 10%;
    height: 10%;
    background-color: grey;;
    border: 3px solid rgb(255, 255, 255);
}
.squerOpen{
    background-color: rgb(201, 201, 201);;
}
.squerBomb{
    background-color: rgb(206, 1, 1);;
}